.idea/

RequestManagementSystem/target/
RequestManagementSystem/.idea/
RequestManagementSystem/.vscode/
RequestManagementSystem/.settings
RequestManagementSystem/.project
RequestManagementSystem/.classpath
RequestManagementSystem/*.log
RequestManagementSystem/*.class
RequestManagementSystem/*.jar
RequestManagementSystem/*.war

RequestManagementSystem/.env
RequestManagementSystem/.venv

RequestManagementSystem/docker-compose.yml

RequestManagementSystem/nginx/default.conf

RequestManagementSystem/*.iml
RequestManagementSystem/.DS_Store

RequestManagementSystem/node_modules/
RequestManagementSystem/src/main/frontend/generated/
RequestManagementSystem/pnpmfile.js
RequestManagementSystem/vite.generated.ts

RequestManagementSystem/drivers/
RequestManagementSystem/error-screenshots/
RequestManagementSystem/webpack.generated.js
/.idea/
