/target/
.idea/
.vscode/
.settings
.project
.classpath
/*.log
*.class
*.jar
*.war

/.env
/.venv

docker-compose.yml

nginx/default.conf

src/main/resources/application.yml

*.iml
.DS_Store

node_modules/
src/main/frontend/generated/
pnpmfile.js
vite.generated.ts

drivers/
error-screenshots/
webpack.generated.js